<div >
  <div class="row flex-nowrap  p-0 m-0">

    <div class="col-auto col-md-3 col-xl-2 bg-dark min-vh-100">
      <div style="position: fixed; ">
      <app-sidebar></app-sidebar>
    </div>
    </div>
        <div class="col py-3" id="FilterDiv">
            <h1 class="m-1 mb-4">Filter Keys</h1>
            <td> <button class="btn btn-success" (click)="openFilterModal()">New</button> </td>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td style="font-size: 15px;" scope="col">Name</td>
                        <td style="font-size: 15px;" scope="col">Edit</td>
                        <td style="font-size: 15px;" scope="col">Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let filter of FilterList;  index as i" >
                        <th scope="row">{{filter.name}}</th>
                        <td> <button class="btn btn-primary" (click)="openFilterEditModal(filter,i)">Edit</button> </td>
                        <td> <button class="btn btn-danger" (click)="Delete(filter.id,i)">Delete</button> </td>
                    </tr>
                  
                </tbody>
            </table>


        </div>
    </div>
</div>




<!-- Add -->
<div class="modal" id="exampleModal" [ngStyle]="{'display':display}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseFilterHandled()"><span
            aria-hidden="true">&times;</span></button>
        <h4> Add New Filter</h4>
      </div>
      <div class="modal-body p-5 text-center">
        <div class="d-flex flex-row align-items-center mb-4 px-5">
          <form [formGroup]="AddForm" (ngSubmit)="AddFilter()">
            <div class="form-outline form-group">
              <label class="form-label" for="form3Example3c">Name</label>
              <input [class.is-invalid]="name?.invalid &&name?.touched" formControlName="name" type="text"
                class="form-control" />
              <div *ngIf="name?.errors &&name?.touched">
                <small *ngIf="name?.errors?.['required']" class="text-danger">Filter Name is required</small>
              </div>
            </div>
          <small class="text-danger">{{messageError}}</small>
            <button type="submit" class="form-control mt-3 btn btn-success">Add</button>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>


<!--Edit-->
<div class="modal" id="exampleModal" [ngStyle]="{'display':displayEditModel}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseFilterEditModal()"><span
            aria-hidden="true">&times;</span></button>
        <h4> Edit Category</h4>
      </div>
      <div class="modal-body p-5 text-center">
        <div class="d-flex flex-row align-items-center mb-4 px-5">
          <form [formGroup]="AddForm" (ngSubmit)="EditFilter()">
            <div class="form-outline form-group">
              <label class="form-label" for="form3Example3c">Name</label>
              <input [class.is-invalid]="name?.invalid &&name?.touched" formControlName="name" type="text"
                class="form-control" />
              <div *ngIf="name?.errors &&name?.touched">
                <small *ngIf="name?.errors?.['required']" class="text-danger">Filter Name is required</small>
              </div>
            </div>
          <small class="text-danger">{{messageError}}</small>
            <button type="submit" class="form-control mt-3 btn btn-success">Edit</button>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>



