.head{
    background-color: #fff6d9; 
    text-align: center;
    padding: 30px;
}

.card2,.card3{
    padding-left: 30px;
}


@media (max-width: 600px) {
    .container {
      width: 100%;
    }
     .smallCard{
        width: 100%;
    }
    .sale{
        width: 40%;
    }
    img{
        width: 50%;
    } 
 
    
  }

  @media (max-width: 2000px) {
    .container {
        width: 50%;
      } 
     .smallCard{
        width: 100%;
    } 
     .sale{
        width: 40%;
    } 
  
  }