i{
    font-size: 20px;
}
.header4{
    color: #e00000;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-top: 10px;
    
}
.header4::after{
    display: inline-block;
  -webkit-transform: scale(0.5, 1);
  -moz-transform: scale(0.5, 1); 
  -ms-transform: scale(0.5, 1); 
  -o-transform: scale(0.5, 1); 
  transform: scale(0.5, 1); 
  content: ">";
  position: absolute;
  margin-left: 5px;
  margin-top: -6px;
  font-size: 25px;
  font-weight: bolder;
  color: #e00000;
}
.cardStyle{
    transition: 0.4s;
    border-radius: 10px;
    border: 2px solid rgb(236, 236, 236);
}
.cardStyle:hover{
   cursor: pointer;
   box-shadow: 3px 1px 6px rgb(232, 232, 232);
}
.subCategory{
    transition: 0.5s;
}
.subCategory:hover{
    cursor: pointer;
    color: #e00000;
}
.category:hover{
    cursor: pointer;
}
 .btnHeart{
    transition: 0.4s;
    border: none; 
    width: 40px;
     height: 40px; 
     border-radius: 60%; 
     align-items: center;
     background-color:rgba(33, 32, 32, 0.148);
     z-index: 100;
  } 
  @media (max-width: 600px) {
    .home-card{
        display: inline-block;
        width: 100%; 
    }
    .card-card
    {
        justify-content:center ;
    }
    .category-card{
        width: 50%;
    }
  }

.viewMore:hover{
    cursor: pointer;
}

  
