<div class="container-fluid">
    <div></div>
</div>


<!-- <div class="container-fluid">
    <div class="row" style="padding-top: 8px;">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="../assets/dubizzle.png" alt="">
        </div>
        <div class="col-5"></div>
        <div class="col-2" style="padding-top: 15px">
            <a href="#" style="text-decoration: none;color: red;font-size: 14px;">Submit a request</a>
        </div>
        <div class="col-1" style="padding-top: 15px">
            <a href="#" style="text-decoration: none;color: red;font-size: 14px;">Sign in</a>

        </div>
        <div class="col-1"></div>
    </div>
    <hr style="width: 100%;" />


    <div class="row">

        <div class="col-1"></div>
        <div class="col-2">
            <a href="#" style="text-decoration: none;color: red;font-size: 14px;">Dubizzle Egypt</a>
            <span style="font-size: 14px"> > Submit a request</span>

        </div>
        <div class="col-5">

        </div>

        <div class="col-2 ">
            <input class="form-control my-0 py-1" type="text" style="border-radius: 25px;" placeholder="Search"
                aria-label="Search" />
        </div>

        <div class="col-2"></div>
    </div>

    <div class="row" style="margin-top: 5%;">
        <div class="col-1"></div>
        <div class="col-3">
            <p style="font-weight: bold;font-size: 30px;">Submit a request</p>
        </div>
        <div class="col-8"></div>
    </div>


    <form #delForm="ngForm">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="form-group " >
                    <p style="font-size: 13px;">Your email address</p>
                    <input type="email" name="textName" ngModel class="form-control" />
                </div>

                <div class="form-group " style="padding-top: 3%;">
                    <p style="font-size: 13px;">Subject</p>
                    <input type="text" name="entertext" ngModel class="form-control" />
                </div>

                <div class="form-group " style="padding-top: 3%;">
                    <p style="font-size: 13px;">Description</p>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textareaa"  ngModel></textarea>
                    <p style="font-size: 12px;">Please enter the details of your request. A member of our support staff will respond as soon as possible.</p>
                </div>

                <div style="padding-top: 3%;">
                    <p style="font-size: 13px;">Category</p>
                    <select class="custom-select" name="monthsList">
                        <option>-</option>
                        <option *ngFor="let cat of category">
                            {{cat}}
                        </option>
                    </select>
                    
                </div>



            </div>
            <div class="col-6"></div>
        </div>
    </form>
</div> -->