<div class="container w-100 mr-auto">
<div class="container w-100 mr-auto">
    <div class="row">
      <div class="col-md-3 w-100">
        <h3>Filter by:</h3>
        <form>
          <div  class="form-group " *ngIf="flag">
            <label for="category">Category:</label>
            <select class="form-control " [(ngModel)]="categorySelectedValue" (ngModelChange)="changeCategoryFiltertion()" [ngModelOptions]="{standalone: true}">
              <option value="0" selected>All</option>
              <option *ngFor="let item of categoryList" [value]="item.id" >{{item.name}}</option>
            </select>
          </div>
          <hr>
          <div class="form-group ">
            <label for="location">Location:</label>
            <select class="form-control " [(ngModel)]="LocationSelectedValue" (ngModelChange)="changelocationFiltertion()" [ngModelOptions]="{standalone: true}">
              <option value="all" selected>All</option>
              <option *ngFor="let item of locationList" [value]="item">{{item}}</option>
            </select>
          </div>
          <hr>
          <div *ngFor="let item of SubCategoryFilters" class="form-group ">
            <label for={{item.filterName}}>{{item.filterName}} :</label>
            <div *ngFor="let value of item.filtrationValuesList" class="check">
              <label>
                <input class="form-check-input me-2" type="checkbox" name={{value}} value="low-to-high" (click)="makefilter(value,item.filterID)">{{value}} 
              </label>
            </div>
            <hr>
          </div>
          <button type="submit" class="btn btn-primary form form-control mt-4">Filter</button>
        </form>
      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
    